/* variables.css */
:root {
  --font-main: "Inter", sans-serif;

  --color-bg: #ffffff;
  --color-bg-soft: #f7f8fc;

  --color-text-main: #0f172a;
  --color-text-muted: #64748b;

  --color-primary: #ec4899;   /* pink */
  --color-secondary: #6366f1; /* indigo */
  --color-accent: #22d3ee;

  --color-border: #e5e7eb;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  --section-padding: 96px;
  --container-width: 1100px;
}
